.footerContainer {
    .footerBar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 260px;
      background: #29211b;
      border: 3px solid #262119;
  
      p {
        font-family: wolf-font;
        font-size: 43px;
        margin-top: -12px;
        color: white;
        text-shadow: -3px -3px 2px #000, 3px -3px 2px #000, -3px 3px 2px #000,
        3px 3px 2px #000, 3px 0 2px #000, 0 3px 2px #000;
      }
    }
  
    .social {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 32px;
    }
  }
  