.gallery-container {
	padding: 5% 17%;
	padding-top: 0;
	text-align: center;

	p.gallery-header {
		font-family: wolf-font;
		font-size: 90px;
		color: white;
		margin-top: 100px;
		text-shadow: -3px -3px 2px #000, 3px -3px 2px #000, -3px 3px 2px #000,
			3px 3px 2px #000, 3px 0 2px #000, 0 3px 2px #000;
	}

	p.gallery-text {
		margin-top: 32px;
		font-family: Nokia;
		font-size: 32px;
		color: black;
	}

	div.gallery {
		margin-top: 125px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;

		.wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			.wolfItem {
				width: 14%;
				margin-bottom: 2%;
				padding: 1.4%;

				img {
					width: 100%;
				}
			}
		}
	}
}

@media only screen and (max-width: 1024px) {
	.gallery-container {
		padding-left: 0;
		padding-right: 0;
		padding-top: 70px;
		padding-bottom: 50px;

		p.gallery-header {
			font-size: 32px;
			margin-top: 0;
			padding-left: 24px;
			padding-right: 24px;
		}

		p.gallery-text {
			margin-top: 13px;
			font-family: Nokia;
			font-size: 21px;
			line-height: 32px;
			color: black;
			padding-left: 24px;
			padding-right: 24px;
		}

		div.gallery {
			margin-top: 32px;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			width: 100%;

			.wrapper {
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				overflow-x: scroll;

				.wolfItem {
					width: 200px;
					margin-left: 1%;
					margin-right: 1%;
					margin-bottom: 2%;

					img {
						width: 200px;
					}
				}
			}
		}
	}
}
