.loadMapContainer {
	display: flex;
	flex-direction: row;
	padding: 5% 16%;

	.sideBar1 {
		display: flex;
		flex-direction: column;

		.phaseButton {
			width: 140px;
			height: 140px;
			margin-bottom: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.phaseButton:hover {
			opacity: 0.7;
			cursor: pointer;
		}

		.fadeButton {
			opacity: 0.5;
		}
	}

	.content1 {
		padding-left: 10%;

		.section {
			font-family: wolf-font;
			font-size: 100px;
			margin: 0;
			color: white;
			text-shadow: -3px -3px 2px #000, 3px -3px 2px #000,
				-3px 3px 2px #000, 3px 3px 2px #000, 3px 0 2px #000,
				0 3px 2px #000;
		}

		.flexRow {
			display: flex;
			flex-direction: row;
			align-items: center;

			.img2 {
				width: 200px;
				padding-left: 5%;
			}
		}

		.title {
			margin-top: 50px;
			font-family: Nokia;
			font-size: 40px;
			color: black;
		}

		.description {
			margin-top: 32px;
			font-family: Nokia;
			font-size: 30px;
			color: black;
		}

		.img {
			margin-top: 32px;
			width: 200px;
		}
	}

	.content1-center {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

@media only screen and (max-width: 1024px) {
	.loadMapContainer {
		flex-direction: column;
		padding: 5%;

		.sideBar1 {
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			.phaseButton {
				width: 21%;
				margin-bottom: 40px;
				display: flex;
				align-items: center;
				justify-content: center;

				img {
					width: 50%;
				}
			}

			.fadeButton {
				opacity: 0.5;
			}
		}

		.content1 {
			text-align: center;
			padding-left: 0;

			.section {
				font-family: wolf-font;
				font-size: 50px;
				color: white;
				text-shadow: -3px -3px 2px #000, 3px -3px 2px #000,
					-3px 3px 2px #000, 3px 3px 2px #000, 3px 0 2px #000,
					0 3px 2px #000;
			}

			.title {
				font-size: 32px;
			}

			.description {
				font-size: 21px;
			}

			.flexRow {
				display: flex;
				flex-direction: column;
				align-items: center;

				.img2 {
					display: none;
				}
			}

			.img {
				display: none;
			}
		}
	}
}
